#convertDiv {
    width: 800px;
    max-width: 90%;
    margin: auto;
    padding: 20px;
    line-height: 150%;    
    text-align: left; 
}

#chosenFile {
    margin: var(--default-spacing);
    font-size: 1rem;
}

