:root {
    --top-bar-height: calc(var(--default-spacing) * 8);
}
h1 {
    width: 100vw;
    background-color: var(--main-colour);
    color: white;
    margin: 0;
    line-height: var(--top-bar-height);
    height: var(--top-bar-height);
    text-align: center;

}

#backToConversion {
    background-color: var(--main-colour);
    color: white;
}


.bookText h1 {
    text-align: center;
    width: 100%;
}

.text-container,.buttonPanel, .first-page-author, .first-page-date, .volume, #flowText table {
    width: 800px;
    max-width: 90%;
    margin: auto;
    padding: 20px;
    line-height: 150%;    
    text-align: left; 
}

.text-container {
    min-height: 250px;
}