h1 {
    width: 100vw;
    background-color: var(--main-colour);
    color: white;
    margin: 0;
    line-height: calc(var(--default-spacing) * 8);
    height: calc(var(--default-spacing) * 8);
    text-align: center;

}

#backToConversion {
    background-color: var(--main-colour);
    color: white;
}

.bookText {
    text-align: left;

}

.buttonPanel{
    text-align: center; 
}